
.post{
    background-image: url("../../assets/img/banner.png");
    background-repeat: no-repeat; //para a imagem nao ficar repetindo
    background-size: contain; // ajusta a imagem para nao cortar como o cover ajusta com o centro da foto
    height: 88vh; // mudar a altura

}


